<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Phone query log</title>
</head>

<body>
    <h1>Phone</h1>

    <h3>Author : '{{data.author}}'</h3>
    <hr>
    {{> partial}}

</body>

</html>